<script props>
  module.exports = {
    active: props.active || false
  };
</script>

<x-page>
  <div class="row">
    <div class="col-3 col-lg-2 d-none d-md-block">
      <nav class="nav flex-column doc-shadow bg-white rounded-3">
        <!-- TODO add aria-current="page"  -->
        <a class="nav-link {{ active === 'buttons' ? 'active' : 'text-muted' }}" href="buttons.html">Buttons</a>
        <a class="nav-link {{ active === 'modals' ? 'active' : 'text-muted' }}" href="modals.html">Modals</a>
      </nav>
    </div>

    <div class="col-12 col-md-9 col-lg-10">
      <yield></yield>
    </div>
  </div>
</x-page>
