<script props>
  /**
   * Bootstrap Modal
   * @see https://getbootstrap.com/docs/5.0/components/modal/
   *
   * Props
   *
   * backdrop:      static|true|false
   * keyboard:      true|false
   * scrollable:    true|false
   * centered:      true|false
   * size:          sm|lg|xl
   * fullscreen:    true|false|sm|md|lg|xl|xxl
   */
  module.exports = {
    backdrop: true,
    keyboard: locals.backdrop === "static" || locals.keyboard === true,
    scrollable: locals.scrollable === true ? 'modal-dialog-scrollable' : '',
    centered: locals.centered === true ? 'modal-dialog-centered' : '',
    size: locals.size ? `modal-${locals.size}` : '',
    fullscreen: [true, "sm", "md", "lg", "xl", "xxl"].includes(locals.fullscreen)
      ? (locals.fullscreen === true ? "modal-fullscreen" : `modal-fullscreen-${locals.fullscreen}-down`)
      : ''
  };
</script>

<div
    class="modal fade"
    id="{{ id }}"
    data-bs-backdrop="{{ backdrop }}"
    data-bs-keyboard="{{ keyboard }}"
    aria-labelledby="{{ id }}"
    tabindex="-1"
    aria-hidden="true"
    aria-modal="true"
    role="dialog"
>
    <div
       class="modal-dialog {{ size }} {{ fullscreen }} {{ centered }} {{ scrollable }}" attributes
    >
        <div class="modal-content">
            <yield></yield>
            <if condition="$slots.header?.filled">
                <x-ui::modal.header>
                  <slot:header></slot:header>
                </x-ui::modal.header>
            </if>
            <if condition="$slots.body?.filled">
                <x-ui::modal.body>
                    <slot:body></slot:body>
                </x-ui::modal.body>
            </if>
            <if condition="$slots.footer?.filled">
                <x-ui::modal.footer>
                    <slot:footer></slot:footer>
                </x-ui::modal.footer>
            </if>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
