<script props>
  /**
   * Modal
   * @see https://getbootstrap.com/docs/5.2/components/modal/
   *
   * Props      | Type    | Default | Values                      | Description
   * ------------------------------------------------------------------------------------------------------------------------------
   * backdrop   | boolean | true    | static|true|false           | Set data-bs-backdrop
   * keyboard   | boolean | true    | true|false                  | Set data-bs-keyboard
   * scrollable | boolean | ''      | true|false                  | Add class `modal-dialog-scrollable`
   * centered   | boolean | ''      | true|false                  | Add class `modal-dialog-centered`
   * size       | string  | ''      | sm|lg|xl                    | Add class `modal-${value}`
   * fullscreen | string  | ''      | true|false|sm|md|lg|xl|xxl  | Add class `modal-fullscreen` or modal-fullscreen-${value}-down
   */
  module.exports = {
    backdrop: isUndefined(props.backdrop) ? true : props.backdrop,
    keyboard: props.backdrop === "static" || props.keyboard === true,
    scrollable: props.scrollable === true ? 'modal-dialog-scrollable' : '',
    centered: props.centered === true ? 'modal-dialog-centered' : '',
    size: props.size ? `modal-${props.size}` : '',
    fullscreen: [true, "sm", "md", "lg", "xl", "xxl"].includes(props.fullscreen)
      ? (props.fullscreen === true ? "modal-fullscreen" : `modal-fullscreen-${props.fullscreen}-down`)
      : ''
  };
</script>

<div
  class="modal fade"
  data-bs-backdrop="{{ backdrop }}"
  data-bs-keyboard="{{ keyboard }}"
  aria-labelledby="{{ id }}"
  tabindex="-1"
  aria-hidden="true"
  aria-modal="true"
  role="dialog"
>
  <div
     class="modal-dialog {{ size }} {{ fullscreen }} {{ centered }} {{ scrollable }}"
  >
    <div class="modal-content">
      <if condition="$slots.header?.filled">
        <x-ui::modal.header>
          {{{ $slots.header?.source }}}
        </x-ui::modal.header>
      </if>

      <if condition="$slots.body?.filled">
        <x-ui::modal.body>
          {{{ $slots.body?.source }}}
        </x-ui::modal.body>
      </if>

      <if condition="$slots.footer?.filled">
        <x-ui::modal.footer>
          {{{ $slots.footer?.source }}}
        </x-ui::modal.footer>
      </if>

      <yield></yield>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
