<script props>
  let placement = ["start", "end", "top", "bottom"].includes(props.placement) ? `offcanvas-${props.placement}` : '';

  if (!placement) {
    if (!isUndefined(props.end)) {
      placement = 'offcanvas-end';
    } else if (!isUndefined(props.top)) {
      placement = 'offcanvas-top';
    } else if (!isUndefined(props.bottom)) {
      placement = 'offcanvas-bottom';
    } else {
      placement = 'offcanvas-start';
    }
  }

  module.exports = {
    placement,
    bp: ["sm", "md", "lg", "xl", "xxl"].includes(props.bp) ? `offcanvas-${props.bp}` : 'offcanvas',
    backdrop: isUndefined(props.backdrop) ? true : props.backdrop,
    scroll: isEnabled(props.scroll),
    dark: isEnabled(props.dark),

    // Define as props for prevent being added as attributes
    start: props.start,
    end: props.end,
    top: props.top,
    bottom: props.bottom
  };
</script>

<div
  class="{{ bp }} {{ placement }}{{ dark ? ' text-bg-dark' : '' }}"
  data-bs-backdrop="{{ backdrop }}"
  data-bs-scroll="{{ scroll }}"
  tabindex="-1"
  aria-labelledby="{{ id }}Label"
>
  <yield></yield>
</div>
