<script props>
  module.exports = {
    name: isUndefined(props.name) ? `${props.id}-item-${uniqueId()}` : props.name,
    title: props.title || '',
    open: isEnabled(props.open),
    parent: isUndefined(props.alwaysOpen) ? `#${props.id}` : null
  };
</script>

<div class="accordion-item">
  <h2 class="accordion-header" id="heading-{{ name }}">
    <x-ui::button
      class="accordion-button{{ open ? '' : ' collapsed' }}"
      toggle="collapse"
      data-bs-target="#collapse-{{ name }}"
      aria-expanded="{{ open }}"
      aria-controls="collapse-{{ name }}"
    >
      {{ title }}
    </x-ui::button>
  </h2>

  <div
    id="collapse-{{ name }}"
    class="accordion-collapse collapse{{ open ? ' show' : '' }}"
    data-bs-parent="{{ parent }}"
    aria-labelledby="heading-{{ name }}"
  >
    <div class="accordion-body">
      <yield></yield>
    </div>
  </div>
</div>
