<script props>
  module.exports = {
    name: props.name || '',
    id: props.id
  };
</script>

<div class="d-flex justify-content-center justify-content-md-between align-items-end">
  <div class="d-none d-md-block">
    <h2>{{ name }}</h2>
  </div>

  <div class="mb-4 d-flex">
    <button
      type="button"
      class="btn btn-secondary btn-sm ms-3 fw-bold border-white text-body bg-white doc-shadow rounded-2 d-flex align-items-center doc-demo-toggler"
      data-bs-toggle="collapse"
      data-bs-target="#doc-demo-preview-{{ id }}"
      aria-expanded="true"
      aria-controls="doc-demo-preview-{{ id }}"
    >
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z" />
        <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
      </svg>
      <span>Preview</span>
    </button>

    <button
      type="button"
      class="btn btn-secondary btn-sm ms-3 fw-bold border-white text-body bg-white doc-shadow rounded-2 d-flex align-items-center doc-demo-toggler"
      data-bs-toggle="collapse"
      data-bs-target="#doc-demo-posthtml-{{ id }}"
      aria-expanded="false"
      aria-controls="doc-demo-posthtml-{{ id }}"
    >
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 6.75L22.5 12l-5.25 5.25m-10.5 0L1.5 12l5.25-5.25m7.5-3l-4.5 16.5" />
      </svg>
      <span>PostHTML</span>
    </button>

    <button
      type="button"
      class="btn btn-secondary btn-sm ms-3 fw-bold border-white text-body bg-white doc-shadow rounded-2 d-flex align-items-center doc-demo-toggler"
      data-bs-toggle="collapse"
      data-bs-target="#doc-demo-html-{{ id }}"
      aria-expanded="false"
      aria-controls="doc-demo-html-{{ id }}"
    >
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 6.75L22.5 12l-5.25 5.25m-10.5 0L1.5 12l5.25-5.25m7.5-3l-4.5 16.5" />
      </svg>
      <span>HTML</span>
    </button>
  </div>
</div>

<div id="doc-demo-preview-{{ id }}" class="collapse show" data-bs-parent="#page">
  <div class="bg-white p-3 doc-shadow rounded-3">
    <yield></yield>
  </div>
</div>

<div id="doc-demo-posthtml-{{ id }}" class="collapse" data-bs-parent="#page">
<div>
<md src="pages/{{ id }}.md"></md>
</div>
</div>

<div id="doc-demo-html-{{ id }}" class="collapse" data-bs-parent="#page">
<div>
<md>
```html
<yield></yield>
```
</md>
</div>
</div>
